[Unit]
Description=uWSGI instance for service REST-API

[Service]
ExecStart=/bin/bash -c 'cd /home/pi/PoT_REST; uwsgi --ini rest.ini'

[Install]
WantedBy=multi-user.target
