if content['get']
  extends 'main.jade'

block content
  .ui.segment
    h1.ui.header(style='text-align:center; margin-bottom: 2%') Add a plant to the mesh network and system!
    .ui.form
      .ui.grid
        .eight.wide.column
          .field
            label IP-Adress
            .wrapper(style='display:flex;align-items:center;flex-direction:row')
              .ui.selection.dropdown.discover(style='width:100%')
                input(type='hidden', name='person')
                i.signal.icon
                .default.text IP-Adress
                .menu
              button.ui.icon.button.right.attached(onclick='device_discover()')
                i.refresh.icon

            script(type='text/javascript').
              device_discover()
              $('.ui.dropdown.discover')
                .dropdown({
                  action: 'activate',
                  onChange: function(value, text, $selectedItem) {
                    console.log(text)
                    console.log($selectedItem.hasClass('slave'))
                  }
                })
              ;
        .eight.wide.column
          .field
            label Name
            .ui.fluid.left.icon.input
              input.name(type='text', placeholder='Name')
              i.tag.icon

        .eight.wide.column
          .field
            label Location
            .ui.fluid.left.icon.input
              input.location(type='text', placeholder='Name')
              i.home.icon

        .eight.wide.column
          .field
            label Species
            .ui.fluid.left.icon.input
              input.species(type='text', placeholder='Name')
              i.leaf.icon


        .eight.wide.column
          .field
            label Notification Interval
            .ui.fluid.left.icon.right.labeled.input
              input.notification_interval(type='number', placeholder='Name', max='12', min='0')
              i.mail.icon
              .ui.basic.label hours

        .eight.wide.column
          .field
            label Extra Details Duration
            .ui.fluid.left.icon.right.labeled.input
              input.duration(type='number', placeholder='Name', max='30', min='0')
              i.asterisk.icon
              .ui.basic.label days

        .eight.wide.column
          .field
            label Responsible
            .wrapper(style='display:flex;align-items:center;flex-direction:row')
              .ui.selection.dropdown.responsible(style='width:100%')
                input(type='hidden', name='person')
                i.user.icon
                .default.text Responsible
                .menu
              button.ui.icon.button.right.attached(onclick='add_plant_responsibles()')
               i.refresh.icon
            script(type='text/javascript').
              add_plant_responsibles()
              $('.ui.dropdown.responsible')
                .dropdown()
              ;

        //- only if slave selected
        //- load every master and disable
        .eight.wide.column
          .field.disabled
            label Master
            .wrapper(style='display:flex;align-items:center;flex-direction:row')
              .ui.selection.dropdown.master(style='width:100%')
                input(type='hidden', name='person')
                i.terminal.icon
                .default.text Master
                .menu
              button.ui.icon.button.right.attached(onclick='device_discover()')
                i.refresh.icon

            script(type='text/javascript').
              device_master()
              $('.ui.dropdown.master')
                .dropdown()
              ;

      .ui.two.buttons(style='margin-top: 2%')
        .ui.basic.button.fluid.green(onclick='register_new_plant()') Apply
        .ui.basic.button.fluid.red Reset
