if content['get']
  extends 'main.jade'

block content
  .ui.segment
    h1.ui.header Manage Plants
    .ui.relaxed.divided.list
      .item
        a.ui.red.ribbon.label Master
        | Marta
        .ui.icon.buttons
          button.ui.button
            i.edit.icon
          button.ui.button
            i.checkmark.icon
          button.ui.button
            i.erase.icon
      .item
        a.ui.orange.ribbon.label Slave
        | Gertrud
        | My master is
        .ui.inline.dropdown.gertrud.slave
          .menu
            .item Marta
            .item Thomas
        .ui.icon.buttons
          button.ui.button
            i.edit.icon
          button.ui.button
            i.checkmark.icon
          button.ui.button
            i.erase.icon
      script.
        $('.gertrud.slave').dropdown({});
