if content['get']
  extends 'main.jade'

block content
  .ui.segment
    h1.ui.header people managment
    .ui.middle.aligned.divided.list
    .ui.form
      .ui.header create new person
      .ui.grid
        .two.column.row.relaxed
          .column
            .item
              .ui.fluid.left.icon.input
                input.new.name(type='text', placeholder='Name')
                i.tag.icon
          .column
            .ui.left.icon.fluid.action.input
              input.new.email(type='text', placeholder='EMail')
              i.mail.icon
              button.ui.button.basic.green(onclick="create_new_general_settings_responsible()") Create
    script.
      get_general_settings_responsibles()

  .ui.segment
    h1.ui.header message presets
    .ui.slider.checkbox.expand_create
      input(type='checkbox', name='customized')
      label create new message
    script(type='text/javascript').
      $('.checkbox.expand_create')
        .checkbox()
        .first().checkbox({
          onChange: function() {
            $('.preset_message.create_message_one').fadeToggle('slow')
            $('.custom_message.create_message_two').fadeToggle('slow')
            $('.notification_message_content').val('')
            $('.custom_message.create_message_two input').val('')
            $('.ui.selection.dropdown')
              .dropdown('clear')
            ;
          }
        })
      ;

    .preset_message.create_message_one(style='position:absolute; width:98%; z-index: 1000;')
      .ui.form
        .field
          label Preset
          .ui.selection.dropdown.notification_message
              input(type='hidden', name='person')
              i.dropdown.icon
              .default.text Preset
              .menu
        script(type='text/javascript').
          get_notification_messages(function (callback) {
            $('.ui.selection.dropdown')
            .dropdown({
              onChange: function(value, text, $selectedItem) {
                get_notification_message_content(value)
              }
            })
          ;
          })

    .custom_message.create_message_two(style='position:absolute;; width:98%;display:none;z-index:2')
      .ui.form
        .field
          label Heading
          .ui.fluid.input
            input(type='text', placeholder='Heading')
    .ui.form(style='margin-top:5%')
      .field
        label Content
        p for your customized message you can use these tags to insert custom data
        .usecases(style='margin-bottom:1%')
          .ui.label.basic.violet [sensor]
          .ui.label.basic.violet [plant]
          .ui.label.basic.violet [date]
          .ui.label.basic.violet [current]
          .ui.label.basic.violet [time (12h)]
          .ui.label.basic.violet [time (24h)]
          .ui.label.basic.violet [name]
          .ui.label.basic.violet [email]
          .ui.label.basic.violet [ideal_min]
          .ui.label.basic.violet [ideal_max]
          .ui.label.basic.violet [warning_min]
          .ui.label.basic.violet [warning_max]
          .ui.label.basic.violet [unit]
        textarea.notification_message_content
    script.
      function submit_notification(that) {
        message = $("textarea.notification_message_content").val()
        if ($(".create_message_two > .ui.form > .field > .ui.fluid.input > input").val() == '') {
          name = $(".create_message_one .selected").html()
        } else {
          name = $(".create_message_two > .ui.form > .field > .ui.fluid.input > input").val()
        }

        if (name != undefined && message != undefined && message != '') {
          return submit_notification_message(that, message, name, undefined, false)
        }
      }
    //- .ui.one.buttons(style='margin-top:5%')
    .ui.basic.button.fluid.green(onclick='submit_notification(this)' style='margin-top:5%') Apply

  script(type='text/javascript').
            $('.ui.selection.dropdown')
              .dropdown()
            ;
  .ui.segment(style='margin-bottom: 5%')
    h1.ui.header day/night time
    //- .ui.slider.checkbox
    //-   input(type='checkbox', name='cycle')
    //-   label active day/night cycle?
    p select the time the device is <b> online </b>
    #flat-slider-time-interval(style='margin-top: 24px')
    .spacer(style='margin-top:5%')
    .ui.form
      .inline.fields
        label what should be deactivated when <b>offline</b>?
        .field.display
          .ui.checkbox
            input(type='checkbox', name='cycle')
            label Display
        .field.ledbar
          .ui.checkbox
            input(type='checkbox', name='cycle')
            label led-bar
        .field.generalleds
          .ui.checkbox
            input(type='checkbox', name='cycle')
            label general leds
        .field.notification
          .ui.checkbox
            input(type='checkbox', name='cycle')
            label email notification
    .ui.two.buttons
      .ui.basic.button.fluid.green(onclick='modify_day_night(this)') Apply
      .ui.basic.button.fluid.red(onclick='get_day_night()') Reset
    script.
      get_day_night()
