if content['get']
  extends 'main.jade'

block content
  // p= content['currentPlant']
  .wrapper(style='display: flex;align-items:center;flex-direction:row;margin-top:5%')
    .spacer(style='flex-grow:0.25')
    .collum-wrapper(style='display: flex;align-items:center;flex-direction: column;padding-left:0;padding-right:0')
      .ui.card.purple
          .content
            .header Happyness factor
            .meta some data you might like
            .ui.three.column.grid
              .smile.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
                i.smile.icon.green(style='font-size:1.5em;margin-top:.5em')
                p(style='margin-top:5px') 50%
              .meh.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
                i.meh.icon.yellow(style='font-size:1.5em;margin-top:.5em')
                p(style='margin-top:5px') 40%
              .frown.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
                i.frown.icon.red(style='font-size:1.5em;margin-top:.5em')
                p(style='margin-top:5px') 10%
          .extra.content 50% green... wanna kill your plant?

      .ui.card.purple
          .content
            .header Personal Plant Stuff
            .meta PPS&trade;
            .uptime.column(style="display: flex;align-items:center;flex-direction:row;padding-left:0;padding-right:0")
              i.tag.icon(style='font-size:1.5em;margin-top:.5em')
              p(style='margin-top:5px') marta
            .birthday.column(style="display: flex;align-items:center;flex-direction:row;padding-left:0;padding-right:0")
              i.birthday.icon(style='font-size:1.5em;margin-top:.5em')
              p(style='margin-top:5px') 29/12/2015
            .home.column(style="display: flex;align-items:center;flex-direction:row;padding-left:0;padding-right:0")
              i.home.icon(style='font-size:1.5em;margin-top:.5em')
              p(style='margin-top:5px') a better place then before
          .extra.content nice name dude!
    .spacer(style='flex-grow:0.25')
    .collum-wrapper(style='display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0')
      .ui.card.purple
          .content
            .header Time Survived
            .meta could be interesting to see!
            .ui.two.column.grid
              .uptime.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
                i.wifi.icon.green(style='font-size:1.5em;margin-top:.5em')
                p(style='margin-top:5px') 90%
              .survived.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
                i.power.icon.green(style='font-size:1.5em;margin-top:.5em')
                p(style='margin-top:5px') 90,5 days
          .extra.content Your internet is really connected

      .ui.card.purple
          .content
            .header Caretaker
            .meta has the best job ever!
            .user.column(style="display: flex;align-items:center;flex-direction:row;padding-left:0;padding-right:0")
              i.user.icon(style='font-size:1.5em;margin-top:.5em')
              p(style='margin-top:5px') Bilal Mahmoud
            .email.column(style="display: flex;align-items:center;flex-direction:row;padding-left:0;padding-right:0")
              i.mail.icon(style='font-size:1.5em;margin-top:.5em')
              p(style='margin-top:5px') bilalmahmoud@posteo.de
            .wizard.column(style="display: flex;align-items:center;flex-direction:row;padding-left:0;padding-right:0")
              i.wizard.icon(style='font-size:1.5em;margin-top:.5em')
              p(style='margin-top:5px') nope
              //- wizard == admin, but noe he is called wizard
              //- WIZARD = ADMIN
              //- SPY = best caretaker
          .extra.content I should make this instant changeable
    .spacer(style='flex-grow:0.25')
    .ui.segment.circular
      img.ui.medium.circular.image(src='https://source.unsplash.com/category/nature/400x400')
    .spacer(style='flex-grow:0.25')
