if content['get']
  extends 'main.jade'

block content
  section.overviewSection(style="display: flex;align-items:center")
    .spacer(style='flex-grow:0.25')
    section.sensorOverview(style="display: flex;align-items:center;flex-direction:column")
      .ui.card.purple
        .content
          .header Gesamt
          .ui.three.column.grid
            .high.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .meta 1. Mai 2016
              i.chevron.up.icon.green
              p(style='margin-top:5px') 29°C
            .difference.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .spacer(style="opacity:0") t
              i.resize.horizontal.icon
              p(style='margin-top:5px') 6°C
            .low.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .meta 2. Juli 2015
              i.chevron.down.icon.red
              p(style='margin-top:5px') 19°C
      .spacer(style='flex-grow:1')
      .ui.card.green
        .content.green
          .header Heute
          .ui.three.column.grid
            .high.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .meta 14:20
              i.chevron.up.icon.green
              p(style='margin-top:5px') 29°C
            .difference.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .spacer(style="opacity:0") t
              i.resize.horizontal.icon
              p(style='margin-top:5px') 14°C
            .low.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .meta 13:12
              i.chevron.down.icon.red
              p(style='margin-top:5px') 19°C
    .spacer(style='flex-grow:0.5')
    .ui.segment.circular
      .doughnutInformation(style='height:290px;width:290px')
        #doughnutChart.chart
        script(type='text/javascript').
            $(function(){
              $("#doughnutChart").drawDoughnutChart([
                { title: "Tokyo",         value : 12,  color: "#2C3E50" },
                { title: "Tokyo",         value : 38,  color: "#000000" },
              ]);
            });
    .spacer(style='flex-grow:0.25')

  .ui.segment
    #graph(style='width:100%; height:350px')
      - var randomizer = ['data needs to be polished', 'some bits escaped, we\'re trying to catch them', 'cleaning data pipes!', 'it\'s not a bug, it\'s a feature!', 'your connection is to slow..', 'shaving beards', 'loading more than 1000 datasets, could you please be impressed... thank you', 'killing some bugs', 'trying to discuss if 1+1 is really 2 or rather 10', 'MARTA IS EVERYWHERE!']
      .ui.active.inverted.dimmer
        .ui.text.loader= 'please wait... ' + content['random'].choice(randomizer)
    script(type='text/javascript').
      //- ADD LOCAL STORAGE, thank you!
      sensordata = $.ajax({
        url: '/get/plant/sensor/dataset',
        method: 'POST',
        data: {}
      });
      sensordata.done(function(sensordatamsg) {
        var data, g, i, len, ref, sensordataset;
        sensordataset = [];
        ref = JSON.parse(sensordatamsg);
        for (i = 0, len = ref.length; i < len; i++) {
          data = ref[i];
          sensordataset.push([new Date(data['dt'] * 1000), data['v']]);
        }
        smoothPlotter.smoothing = 0.33;
        g = new Dygraph(document.getElementById("graph"), sensordataset, {
          labels: ["time", "#{content['current']}"],
          plotter: smoothPlotter,
          legend: 'always',
          animatedZooms: true
        });
      });
