if content['get']
  extends 'main.jade'

block content
  .wrapper(style='display: flex;align-items:center;flex-direction:row;margin-top:2.5%;')
    .ui.segment(style='width:70%;display:none')#__nsps_segment
      h1.ui.header Basic Information
      .ui.grid
        .two.column.row.relaxed
          .column(style='margin-bottom:2%')
            //- nsps == non specific plant stuff
            .ui.fluid.left.icon.input#__nsps_name
              input(type='text', placeholder='Name')
              i.tag.icon
          .column
            .ui.fluid.left.icon.input#__nsps_location
              input(type='text', placeholder='Location')
              i.home.icon
          .column
            .ui.fluid.left.icon.input#__nsps_type
              input(type='text', placeholder='Type')
              i.leaf.icon
          .column
            .ui.fluid.left.icon.input#__nsps_image
              input#portrait_file(type='file', name='profile-image', accept='image/*')
              i.file.image.outline.icon
      .ui.two.buttons(style='margin-top:2%')
            .ui.basic.button.fluid.green(onclick='sg_nsps_submit(this)') Apply
            .ui.basic.button.fluid.red(onclick='sg_nsps_reset(this)') Reset
    .spacer(style='flex-grow:1')
    .ui.segment.circular
      img.ui.medium.circular.image
      //- (src=content['portrait'])

  script(type='text/javascript').
    get_picture_plant = function() {
      console.log('test! (get picture)')
      request = $.ajax({
        url: '/get/picture/plant',
        method: 'POST'
      });
      request.done(function(msg) {
        $("img.ui.medium.circular.image").attr('src', msg);
      });
    }
    get_picture_plant()
    $('#portrait_file').ajaxfileupload({
      action: '/upload/picture/plant',
      onComplete: function(response) {
        get_picture_plant()
      },
    });


  .wrapper(style='display: flex;align-items:baseline;flex-direction:row;margin-top:2.5%')
    .spacer(style='flex-grow:0.2')
    .ui.card.range_temperature.__ssps_segment(style='display:none;')
      .content
        .header Temperature
        .meta interval settings
        .wrapper(style='display: flex;align-items:center;flex-direction:column;margin-top:5%')
          .spacer(style='flex-grow:0.5')
          #flat-slider-vertical-temperature(style='margin-top: 24px;margin-bottom:24px')
            .spacer(style='flex-grow:0.5')
      .extra.content
        .ui.two.buttons
          .ui.basic.button.fluid.green(onClick='sg_ssps_submit(this)') Apply
          .ui.basic.button.fluid.red(onClick='sg_ssps_reset(this)') Reset

    .spacer(style='flex-grow:0.2')
    .ui.card.range_humidity.__ssps_segment(style='display:none;')
      .content
        .header Humidity
        .meta interval settings
        .wrapper(style='display: flex;align-items:center;flex-direction:column;margin-top:5%')
          .spacer(style='flex-grow:0.5')
          #flat-slider-vertical-humidity(style='margin-top: 24px;margin-bottom:24px')
            .spacer(style='flex-grow:0.5')
      .extra.content
        .ui.two.buttons
          .ui.basic.button.fluid.green(onClick='sg_ssps_submit(this)') Apply
          .ui.basic.button.fluid.red(onClick='sg_ssps_reset(this)') Reset

    .spacer(style='flex-grow:0.2')
    .ui.card.range_moisture.__ssps_segment(style='display:none;')
      .content
        .header Moisture
        .meta interval settings
        .wrapper(style='display: flex;align-items:center;flex-direction:column;margin-top:5%')
          .spacer(style='flex-grow:0.5')
          #flat-slider-vertical-moisture(style='margin-top: 24px;margin-bottom:24px')
            .spacer(style='flex-grow:0.5')
      .extra.content
        .ui.two.buttons
          .ui.basic.button.fluid.green(onClick='sg_ssps_submit(this)') Apply
          .ui.basic.button.fluid.red(onClick='sg_ssps_reset(this)') Reset

    .spacer(style='flex-grow:0.2')
    .ui.card.range_light.__ssps_segment(style='display:none;')
      .content
        .header Light
        .meta interval settings
        .wrapper(style='display: flex;align-items:center;flex-direction:column;margin-top:5%')
          .spacer(style='flex-grow:0.5')
          #flat-slider-vertical-light(style='margin-top: 24px;margin-bottom:24px')
            .spacer(style='flex-grow:0.5')
      .extra.content
        .ui.two.buttons
          .ui.basic.button.fluid.green(onClick='sg_ssps_submit(this)') Apply
          .ui.basic.button.fluid.red(onClick='sg_ssps_reset(this)') Reset

    .spacer(style='flex-grow:0.2')
  .ui.segment#__rsps_segment(style='width:100%;display:none')
    hi.ui.header Responsible Person
    .ui.two.column.middle.aligned.very.relaxed.stackable.grid
      .column
        .ui.form
          .multipart_complex(style='width:100%')
            .side.first(style='width:100%')
              .field
                label Name
                .ui.left.icon.input
                    input#__rspsc_name(type='text', placeholder='Name')
                    i.user.icon
              .field
                label EMail
                .ui.left.icon.input
                    input#__rspsc_email(type='text', placeholder='EMail')
                    i.user.icon
              .ui.basic.button.fluid.green.forward >> next >>
            .side.second(style='width:100%; display:none')
              .field
                label Wizard
                select.ui.dropdown#create_select
                  option no
                  option yes
              .field
                label Image
                .ui.fluid.left.icon.input
                  input(type='file', placeholder='Image')
                  i.file.image.outline.icon
              .ui.basic.button.fluid.green(onClick='sg_rsps_create(this)') submit
      script(type='text/javascript').
        $( ".ui.basic.button.fluid.green.forward" ).click(function() {
          $('.multipart_complex > .side.first').fadeOut('slow', function() {
            $('.multipart_complex > .side.second').fadeIn('slow')
          });
        });

        $('.ui.dropdown#create_select')
          .dropdown()
        ;
      .ui.vertical.divider Or
      .column
        .ui.form
          .field
            label Person
            select.ui.dropdown#select(onChange='sg_rsps_change(this)')
              //- option(value='andreas.marbach@web.de') Andreas Marbach
              //- option(value='Penispumpen') Matthias Töpler

          script(type='text/javascript').
            //- $('#select').dropdown('set selected', 'Penispumpen');


          .field
            label EMail
            .ui.left.icon.input
              input#__rsps_input(type='text', placeholder='andreas.marbach@web.de', readonly='')
              i.user.icon
          .ui.two.buttons
            .ui.basic.button.fluid.green(onClick='sg_rsps_submit(this)') Apply
            .ui.basic.button.fluid.red(onClick='sg_rsps_reset(this)') Reset

  //- .wrapper(style='display: flex;align-items:baseline;flex-direction:row;margin-top:2.5%;')
  .ui.segment
    h1.ui.header Notification Settings
    .ui.slider.checkbox.expand_create
      input(type='checkbox', name='customized')
      label create new message
    script(type='text/javascript').
      $('.checkbox.expand_create')
        .checkbox()
        .first().checkbox({
          onChange: function() {
            $('.preset_message.create_message_one').fadeToggle('slow')
            $('.custom_message.create_message_two').fadeToggle('slow')
            $('.notification_message_content').val('')
            $('.custom_message.create_message_two input').val('')
            $('.ui.selection.dropdown')
              .dropdown('clear')
            ;
          }
        })
      ;

    .preset_message.create_message_one(style='position:absolute; width:98%; z-index: 1000;')
      .ui.form
        .field
          label Preset
          .ui.selection.dropdown.notification_message
              input(type='hidden', name='person')
              i.dropdown.icon
              .default.text Preset
              .menu
        script(type='text/javascript').
          get_notification_messages(function (callback) {
            $('.ui.selection.dropdown')
            .dropdown({
              onChange: function(value, text, $selectedItem) {
                get_notification_message_content(value)
              }
            })
          ;
          })

    .custom_message.create_message_two(style='position:absolute; width:98%;display:none;z-index:2')
      .ui.form
        .field
          label Heading
          .ui.fluid.input
            input(type='text', placeholder='Heading')
    .ui.form(style='margin-top:7%')
      .field
        label Content
        p for your customized message you can use these tags to insert custom data
        .usecases(style='margin-bottom:1%')
          .ui.label.basic.violet [sensor]
          .ui.label.basic.violet [plant]
          .ui.label.basic.violet [date]
          .ui.label.basic.violet [current]
          .ui.label.basic.violet [time (12h)]
          .ui.label.basic.violet [time (24h)]
          .ui.label.basic.violet [name]
          .ui.label.basic.violet [email]
          .ui.label.basic.violet [ideal_min]
          .ui.label.basic.violet [ideal_max]
          .ui.label.basic.violet [warning_min]
          .ui.label.basic.violet [warning_max]
          .ui.label.basic.violet [unit]
        textarea.notification_message_content
        script(type='text/javascript').
          get_current_notification_message()
      script.
        function submit_notification (that) {
          message = $("textarea.notification_message_content").val()
          if ($(".create_message_two > .ui.form > .field > .ui.fluid.input > input").val() == '') {
            name = $(".create_message_one .selected").html()
          } else {
            name = $(".create_message_two > .ui.form > .field > .ui.fluid.input > input").val()
          }

          if (name != undefined && message != undefined && message != '') {
            return submit_notification_message(that, message, name)
          }
        }
      .ui.two.buttons(style='margin-top:5%')
        .ui.basic.button.fluid.green(onclick='submit_notification(this)') Apply
        .ui.basic.button.fluid.red(onclick='get_current_notification_message(this)') Reset

  .ui.segment
    h1.ui.header Notification settings
    .interval
      p(style='margin-bottom:3%') connection lost notification interval (minutes)
      #flat-slider-dead-interval(style='margin-top: 24px;margin-bottom:24px')
        .spacer(style='flex-grow:0.5')
      script(type='text/javascript').
        $("#flat-slider-dead-interval")
            .slider({
                max: 120,
                min: 5,
                range: 'min',
                value: #{content['intervals']['connection_lost']},
                step: 5
            })
            .slider("pips", {
                first: "pip",
                last: "pip"
            })
            .slider("float");
    .interval(style='margin-top:5%')
      p(style='margin-bottom:3%') sensor notification interval (hours)
      #flat-slider-general-interval(style='margin-top: 24px;margin-bottom:24px')
        .spacer(style='flex-grow:0.5')
      script(type='text/javascript').
        $("#flat-slider-general-interval")
            .slider({
                max: 12,
                min: 1,
                range: 'min',
                value: #{content['intervals']['notification']}
            })
            .slider("pips", {
                first: "pip",
                last: "pip"
            })
            .slider("float");
    .interval(style='margin-top:5%')
      p(style='margin-bottom:3%') detailed data duration (days)
      #flat-slider-non-persistant-interval(style='margin-top: 24px;margin-bottom:24px')
        .spacer(style='flex-grow:0.5')
      script(type='text/javascript').
        $("#flat-slider-non-persistant-interval")
            .slider({
                max: 30,
                min: 7,
                range: 'min',
                value: #{content['intervals']['non_persistant']}
            })
            .slider("pips", {
                first: "pip",
                last: "pip"
            })
            .slider("float");
    .ui.two.buttons(style='margin-top:5%')
          .ui.basic.button.fluid.green(onclick='modify_plant_durations(this)') Apply
          .ui.basic.button.fluid.red Reset

  script(type='text/javascript').
    $(document).ready(function() {sg_nsps();sg_ssps();sg_rsps();});
