if content['get']
  extends 'init/main.jade'

block content
  .dummy(style="display:flex;align-items:center;height:100vh")
    .ui.segment(style="margin:auto")
      .ui.header Internet of Plants
      p Lorem ipsum Quis adipisicing tempor aliqua in tempor non labore voluptate nulla consectetur ex laborum do nostrud officia aliquip consectetur eu do.
