extends 'main.jade'

block content
  section.overviewSection(style="display: flex;align-items:center")
    .spacer(style='flex-grow:0.25')
    section.sensorOverview(style="display: flex;align-items:center;flex-direction:column")
      .ui.card.purple
        .content
          .header Gesamt
          .ui.three.column.grid
            .high.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .meta 1. Mai 2016
              i.chevron.up.icon.green
              p(style='margin-top:5px') 29°C
            .difference.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .spacer(style="opacity:0") t
              i.resize.horizontal.icon
              p(style='margin-top:5px') 6°C
            .low.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .meta 2. Juli 2015
              i.chevron.down.icon.red
              p(style='margin-top:5px') 19°C
      .spacer(style='flex-grow:1')
      .ui.card.green
        .content.green
          .header Heute
          .ui.three.column.grid
            .high.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .meta 14:20
              i.chevron.up.icon.green
              p(style='margin-top:5px') 29°C
            .difference.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .spacer(style="opacity:0") t
              i.resize.horizontal.icon
              p(style='margin-top:5px') 14°C
            .low.column(style="display: flex;align-items:center;flex-direction:column;padding-left:0;padding-right:0")
              .meta 13:12
              i.chevron.down.icon.red
              p(style='margin-top:5px') 19°C
    .spacer(style='flex-grow:0.5')
    .ui.segment.circular
      .doughnutInformation(style='height:290px;width:290px')
        #doughnutChart.chart
        script(type='text/javascript').
            $(function(){
              $("#doughnutChart").drawDoughnutChart([
                { title: "Tokyo",         value : 12,  color: "#2C3E50" },
                { title: "Tokyo",         value : 38,  color: "#000000" },
              ]);
            });
    .spacer(style='flex-grow:0.25')

  .ui.card(style='width:100%;height :100%;margin-bottom:15px')
    canvas#sensorLineChart(height=100)
    script(type='text/javascript').
      var ctx = document.getElementById("sensorLineChart");
      var myLineChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
              datasets: [{
                  label: '# of Votes',
                  data: [12, 19, 3, 5, 2, 3]
              }]
          },
      });

